* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 95px 1fr 50px;
    background-color: rgb(253, 227, 209);

}


header {   
    grid-row: 1;
    grid-column: 1 / 3;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction:column;
    background-color: chocolate;
    color: white;
}


nav{
    width: 200px;
    padding: 10px;
    display:flex;
    justify-content: space-between;
    color: white;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: rgba(236, 179, 139, 0.462);
}

main {
   grid-column: 1;
   grid-row: 2;
   padding: 20px;
   border: 2px solid rgb(107, 65, 25);
   border-radius: 30px;
   margin: 20px; 
   background-color:antiquewhite;
}

h2 {
    color: rgb(107, 65, 25);
    text-align: center;
    font-size: 30px;
}

figure {
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    max-width: 100%; 
}

figcaption {
    display: flex;
    justify-content: center;
}

h2 ~ p {
    text-align: justify;
    margin-bottom: 10px;

}

time {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;;
    font-weight: bold;
    font-size: 15px;
    color: rgb(107, 65, 25);
}


aside {
    grid-column: 2;
    grid-row: 2;
    border: 2px solid rgb(107, 65, 25);
    border-radius: 30px;
    margin: 20px;
    background-color: antiquewhite;
    padding: 20px;
}

h3 {
    display:flex;
    justify-content: center;
    color: green; 
    font-size: 20px;
}

ul{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

footer {
    grid-row: 3;
    grid-column: 1 / 3;
    background-color: chocolate;
    padding: 20px;
    display:flex;
    justify-content: center;
    color: white;
    
}


@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 95px 1fr 1fr 50px;
    }

    aside {
        grid-column: 1;
        grid-row: 3;
    }

    footer {
        grid-column: 1;
        grid-row: 4;
    }
}